################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ContactService/.vs
/ContactService/ContactService/bin
/ContactService/ContactService/obj
/ContactService/ContactService.Test/bin/Debug/netcoreapp2.0
/ContactService/ContactService.Test/obj
